
div.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  background-color: teal;
}

div.explainer {
  display: inline-block;
  width: 200px;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}
