
div.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  background-color: teal;
}

div.explainer {
  display: inline-block;
  width: 200px;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.axis path,
.axis line {
  stroke: DarkSlateGray;
  shape-rendering: crispEdges;
}

.axis text {
  font-weight: bold;
  font-size: 14ps;
  fill: DarkSlateGray;
}

/***************************
HEADLINES
***************************/

h1 {
  margin-top: 50px;
}

.first-h1 {
  margin-top: 100px;
}
